:root { 
--gray_50_01:#f8f8f8; 
--gray_900_14:#0e132214; 
--gray_50_02:#fff4f4; 
--blue_A400:#287bff; 
--light_blue_500:#009ef5; 
--black_900_3f:#0000003f; 
--gray_300_99:#e7daec99; 
--yellow_400:#ffee5d; 
--purple_900:#57007b; 
--blue_gray_900_02:#27272e; 
--deep_orange_300:#f7936f; 
--blue_gray_700:#4a5568; 
--blue_gray_900_01:#29272e; 
--blue_gray_900:#2d3748; 
--pink_300:#f76680; 
--red_A700:#cc0000; 
--cyan_200_01:#66e8f1; 
--cyan_200_02:#6ad7e5; 
--blue_900:#054894; 
--gray_400:#c6b198; 
--blue_gray_100:#cbd5e0; 
--blue_700:#0067dc; 
--blue_gray_500:#5382a1; 
--orange_800:#e76f00; 
--cyan_200:#68dbf2; 
--gray_100_03:#f1f5f9; 
--indigo_900_00:#0d1b9f00; 
--gray_100_02:#f0fff7; 
--gray_100_01:#f1f1ff; 
--blue_gray_400_01:#868686; 
--white_A700:#ffffff; 
--blue_gray_700_01:#485b71; 
--red_300:#f7666e; 
--green_600:#539e43; 
--gray_50:#fafafa; 
--pink_A200:#ff3c99; 
--black_900:#000000; 
--gray_500_01:#918a8a; 
--gray_500_00:#93949800; 
--purple_800:#5c2d91; 
--pink_400:#dd4296; 
--black_900_26:#00000026; 
--pink_200:#ff92ae; 
--gray_900_02:#000d2e; 
--gray_700:#646464; 
--blue_gray_200:#a0aec0; 
--gray_500:#939498; 
--white_A700_6d:#ffffff6d; 
--blue_gray_400:#718096; 
--blue_800:#1948bf; 
--indigo_50:#e2e8f0; 
--gray_900:#1a202c; 
--blue_gray_900_03:#333333; 
--gray_900_01:#231f20; 
--teal_50:#d3e3f5; 
--gray_300:#e7daec; 
--gray_100:#f6f6f9; 
--teal_A400:#24e795; 
--orange_100:#f6d2a2; 
--indigo_A400:#3f69ff; 
--blue_400:#4f9bf5; 
}